.container {
  height: 5.2rem;
  margin-bottom: 3rem;

  :global {
    .input-range__label--value {
      transform: translateY(-1rem);
      color: black!important;
    }

    .input-range__label {
      font-size: 1.6rem;
    }
  }
}

.wrapper {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.label {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  color: dimgray;
}

.input {
  border: solid 1px darkgrey;
  border-radius: .4rem;
  font-size: 1.6rem;
  width: 10rem;
  padding: 0 1rem;
}
