.container {
  margin-bottom: 4rem;
}

.tab {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border: solid 1px #d3d3d3;
  border-radius: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.active {
  background-color: #0088d5;
  color: white;
}

.label {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
