.time {
  font-size: 1.6rem;
  padding: 2.4rem 0;
}


.form {
  background-color: white;
  border-radius: .4rem;

  hr {
    border-color: #fefefe;
    opacity: 0.5;
    border-bottom: none;
    margin: 1rem 0;
  }
}
