.container {
  background-color: white;
}

.row {
  overflow: auto;
  white-space: nowrap;

}
.item {
  display: inline-block;
  width: 5rem;
  height: 20rem;
}

.count {
  height: 5rem;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.4rem;
}

.top {
  padding: 0 1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.column {
  background-color: #61dafb;
}

